/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*==========Reset==========*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
$balck-color: hsl(0, 0%, 0%);
$white-color: hsl(0, 0%, 100%);
$red-color: hsl(0, 100%, 50%);
$orange-color: hsl(39, 100%, 50%);
$light-color: hsl(0, 0%, 80%);
$shadow: 0 4px 20px hsla(0, 0%, 4%, 0.103);
$shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.2);
$shadow-2: 0 1px 2px hsla(0, 0%, 0%, 0.2);
$transition: all 400ms ease;
$border: 1rem solid hsla(0, 0%, 100%, 0.2);
$cont-large: 82%;
$cont-medium: 90%;
