.header {
    position: fixed;
    width: 100vw;
    padding: .7rem 0;
    background: $black-color;
    z-index: 100;

    &.scrollPage {
        background: $orange-color;

        .container {

            .logo span {
                color: $black-color;
            }
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .logo {
            color: $white-color;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 2.2rem;

            span {
                color: $orange-color;
            }
        }

        .navbar-container {

            .navbar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 3rem;
    
                li a {
                    font-size: 1rem;
                    color: $white-color;
                    transition: $transition;
    
                    &:hover {
                        color: $orange-color;
                    }
                }
            }

            #open-btn, #close-btn  {
                font-size: 2.2rem;
                color: $white-color;
                cursor: pointer;
                display: none;
            }
        }
    }
}


/*==========Media Query 1024px==========*/
@media (max-width: 1024px) {
    .header {
    
        .big-circle {
            width: 450px;
            height: 350px;
            top: -15rem;
            left: -24rem;
        }
    
        .container {

            .navbar-container {
    
                .navbar {
                    position: absolute;
                    flex-direction: column;
                    gap: 2rem;
                    top: 100%;
                    right: .3rem;
                    padding: 2rem;
                    background: $orange-color;
                    box-shadow: $shadow;
                    display: none;
                    animation: downNavbar 300ms ease forwards;
                    transform-origin: top;
                    perspective: 300px;

                    @keyframes downNavbar {
                        0% {
                            transform: rotateX(90deg);
                        }
                        100% {
                            transform: rotateX(0deg);
                        }
                    }
        
                    li a {
                        color: $white-color;

        
                        &:hover {
                            color: $black-color;
                        }
                    }
                }
    
                #open-btn {
                    display: inline-block;
                }
            }
        }
    }
}

