@mixin displayGrid($display) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($display, 1fr));
    gap: 2rem;
}

@mixin title($text) {
    font-size: $text;
    text-transform: capitalize;
    color: $white-color;
}

@mixin graph($graphText) {
    font-size: $graphText;
    line-height: 2;
    color: $light-color;
}

@mixin button ($textColor: $white-color, $backgroundColor: $orange-color) {
    display: inline-block;
    width: fit-content;
    padding: .75rem 1rem;
    border-radius: .4rem;
    background: $black-color;
    color: $white-color;
    cursor: pointer;
    transition: all 400ms ease;

    &:hover {
        box-shadow: 0 1rem 1.6rem rgba($black-color, 0.15);
        transform: scale(1.05);
    }
}
